resources:
- repo: self

variables:
  dockerHub: DockerHub
  dockerTag: $(Build.BuildId)
  dockerRepo: kodraus/dotnet-dev
  dockerImage: $(dockerRepo):$(dockerTag)

stages:
- stage: Build
  displayName: Build image
  jobs:  
  - job: Build
    timeoutInMinutes: 360
    displayName: Build
    pool: 'Default'
    steps:
    - task: CmdLine@2
      displayName: Build toolchain
      inputs:
        script: docker build -t $(dockerImage) src
    - task: CmdLine@2
      displayName: Test toolchain
      inputs:
        script: docker run -v $(pwd)/tests:/tests $(dockerImage) /bin/bash -c 'cd /tests/ConsoleApp && dotnet run'
  - job: Publish
    displayName: Publish image
    dependsOn: Build
    condition: eq(variables['Build.SourceBranch'], 'refs/heads/ci/publish')
    pool: 'Default'
    steps:
    - task: Docker@2
      displayName: Login
      inputs:
        command: login
        containerRegistry: $(dockerHub)
    - task: Docker@2
      displayName: Publish toolchain
      inputs:
        repository: $(dockerRepo)
        command: push
        tags: |
          $(dockerTag)
    - task: Docker@2
      displayName: Logout
      inputs:
        command: logout
        containerRegistry: $(dockerHub)
